:host {
  input {
    outline: none;
    border: 1px solid #777;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #0003;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    height: 22px;
    padding: 2px 4px 0px 4px;
    width: 150px;
  }
}
