@use "../../../styles/portal_base" as portal;
@use "../../../styles/mixins";

@mixin germania-one-regular {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
@mixin info-mxn {
  position: absolute;
  z-index: 2;
  top: 6px;
  section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @media (width <= 430px) {
      font-size: 6px;
    }
    @media (width > 430px) {
      font-size: 10px;
    }
  }
}

:host {

  //::ng-deep p {
  //  margin: 0;
  //  padding: 0;
  //  text-align: justify;
  //  text-indent: 25px;
  //}

  flex: 1;
  display: flex;

  .astralka-container {
    flex: 1;
    //height: 100vh;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: black;
    form {
      background-color: white;
    }

    .explanation-container {
      flex: 1;
      display: flex;
      background-color: white;

      .bot-panel {
        flex: 1;

        color: #333;
        display: flex;
        flex-direction: column;
        background-color: #fdf4e0;

        .bot-panel-handler {
          width: 100%;
          height: 21px;
          background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAQAAAClM0ndAAAAhklEQVR4AdXO0QrCMBBE0bttkk38/w8WRERpdyjzVOc+HxhIHqJGMQcFFkpYRQotLLSw0IJ5aBdovruMYDA/kT8plF9ZKLFQcgF18hDj1SbQOMlCA4kao0iiXmah7qBWPdxpohsgVZyj7e5I9KcID+EhiDI5gxBYKLBQYKHAQoGFAoEks/YEGHYKB7hFxf0AAAAASUVORK5CYII=') repeat-x scroll left top #baa973;
          text-align: center;
          @include mixins.gafata-regular;
          font-size: 1rem;
          color: white;
          text-shadow: 1px 1px 1px #3333;
        }

        .bot-panel-content {

          flex: 1;
          padding: 4px;
          overflow: auto;
          overflow-y: scroll;

          .explanation-wrap {
            ::ng-deep p:first-child:not(:only-child) {
              margin: 0.5em 0;
              //font-size: 14px;
              color: #376a57;
            }
          }

          .foot-print {
            margin-top: 8px;
            padding: 2px 6px;
            font-family: "Ubuntu Mono", monospace;
            color: #b6b595;
            font-size: 9px;
            display: flex;
            .retry {
              flex: 3;
              span {
                cursor: pointer;
                &:hover {
                  color: #333;
                }
              }
            }
            .timestamp {
              flex: 0 120px;
              text-align: right;
            }
          }

          .una {
            text-align: center;
            display: block;
            line-height: 1px;
            height: 1px;
            background: #d3d07a;
            margin: 0;
            padding: 0;
            border: 0 none;
          }
          p {
            font-family: "Gafata", sans-serif;
            font-size: 0.85rem;
            line-height: 1;
            color: #295344;
            margin: 0.5em 0.5em 0 0.5em;
            min-height: 2em;
            &::first-letter {
              background: #F4D132;
              font-family: 'Cinzel Decorative', serif;
              float: left;
              font-size: 1.2rem;
              color: #295344;
              line-height: 100%;
              margin-top: 0.33rem;
              margin-right: 0.5rem;
              border-radius: 50%;
              text-shadow: 1px 1px 0 #fff;
              box-shadow: 0 0 0 5px #F4D13266;
            }
          }
        }
      }
    }
  }
}

#person-info {
  @include info-mxn;
  width: 250px;
  left: 6px;
  section:not(:first-child) {
    margin-top: 2px;
  }
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

#transit-info {
  @include info-mxn;
  width: 220px;
  padding-right: 6px;
  text-align: right;
  section:not(:first-child) {
    margin-top: 2px;
  }
  margin-right: 4px;
  button {
    @include portal.btn;
    margin-right: 0;
  }
}

.test {
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: white;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

pre {
  font-family: "Roboto", sans-serif, monospace;
  font-size: 12px;
}

button {
  margin-right: 2px;
}

svg {
  position: relative;
  overflow: hidden;

  .chart-label,
  .segment-label {
    font-size: 32px;
    @include germania-one-regular;
    fill: #dca72233;
    stroke: none;
    font-weight: 600;
  }
  .chart-label {
    text-anchor: middle;
    font-size: 22px;
    fill: #dca72244;
    letter-spacing: 7px;
  }
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
  }
}

::ng-deep .planets-angle {
  text {
    font-size: 7px !important;
    text-anchor: middle;
    fill: #225588;
  }
}

form {
  border: 1px solid #ccc;
  padding: 1em;

  &.entry-form {
    display: flex;
    flex-direction: column;

    .entry-body {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .entry-group {
        margin: 4px;

        label {
          color: #333;
          font-size: 11px;
          display: block;
          padding-left: 2px;
        }

        input {
          &.single {
            width: 80px;
          }

          &.double {
            width: 120px;
          }

          &.triple {
            width: 200px;
          }
        }
      }
    }

    .entry-footer {
      margin: 12px 0 0 4px;
      flex: 0 22px;
    }
  }


}

#container {
  flex: 1;
  position: relative;
  //height: 100%;
  background-color: #f4eeea;
  display: flex;
}



