:host {

  ::ng-deep p {
    text-align: justify;
  }

  flex: 1;
  .image-rotate-container {
    position: relative;

    .image-rotate-info {
      width: 320px;
      height: 400px;
      background: #003366 url(/assets/noise.png);
      color: #ccc;
      padding: 18px 8px 8px 8px;
      overflow: scroll;

      font-family: "Lato", sans-serif;
      h3 {
        margin: 18px 0 8px 0;
        font-weight: 800;
      }
      h2, h1, h4 {
        margin: 4px 0;
        font-weight: 600;
      }

      .color-sample {
        margin: 0 4px 0 0;
        &:not(:first-child) {
          margin-left: 4px;
        }
        display: inline-block;
        width: 13px;
        height: 13px;
        line-height: 13px;
        border: 1px solid #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 1px #000;
      }
    }

    .img-description {
      position: absolute;
      cursor: pointer;
      left: 6px; top: 2px;
      width: 120px;
      height: 26px;
      background-color: transparent;
      border-radius: 3px;
      align-content: center;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      span.symbol {
        width: 24px;
        background-color: #0369;
      }
      span.description {
        font-family: Gafata, sans-serif;
        font-size: 16px;
        color: #fff;
        background-color: #0369;
        line-height: 24px;
        padding-right: 8px;
      }
    }
  }
}
