@use '../../../styles/mixins';

:host {

  ::ng-deep p {
    text-align: justify;
  }

  flex: 1;

  .image-rotate-container {
    position: relative;

    .img-description {
      position: absolute;
      bottom: 1px;
      width: 100%;
      text-align: center;
      height: 24px;
      background-color: transparent;

      span.description {
        font-family: Gafata, sans-serif;
        font-size: 11px;
        color: #fff;
        background: #3337;
        text-shadow: 1px 1px 1px #333;
        line-height: 21px;
        padding: 2px 8px;
      }
    }
  }


}
