:host {
  flex: 1;
  display: flex;
  .quick-pick-container {
    flex: 1;
    border-top: 1px solid #555;
    background-color: #376a57;
    padding: 1px;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    .quick-pick {
      margin: 1px;
      button {
        margin: 0;
        border: 0;
        outline: none;
        font-size: 11px;
        height: 21px;
        cursor: pointer;
        &:not(.close-button) {
          padding: 0 2px 0 8px;
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
