@use "../../../styles/portal_base";

:host {
  button {
    @include portal_base.btn;
  }
}

.portal-content {
  width: 396px;
  height: 396px;

  &.transit {
    width: 410px;
    height: 370px;
  }

  @include portal_base.box;
  line-height: 13px;
  font-size: 11px;

  .rect {
    stroke: #999;
    fill: #024;
    cursor: pointer;
    &.selected {
      fill: lighten(#024, 30%);
      stroke: #ccc;
    }
    &:hover {
      fill: lighten(#024, 20%);
      stroke: #fff;
    }
    &.planet {
      fill: #420;
      stroke: goldenrod;
      &:hover {
        fill: lighten(#420, 20%);
      }
    }
  }
  .rect-type-0 {
    fill: #f6f2ed;
  }
  .rect-empty {
    stroke: #999;
    fill: #024;
  }
  ::ng-deep .angle {
    fill: #f6f2ed;
    text {
      font-size: 7px !important;
      text-anchor: middle;
    }
  }

}
