@use "../../../styles/portal_base";

:host {
  button {
    @include portal_base.btn;
  }
}

.portal-content {
  width: 364px;
  height: 364px;
  @include portal_base.box;
  padding: 1px;
  border-radius: 0;

  &.transit {
    width: 384px;
    height: 342px;
  }

  line-height: 13px;
  font-size: 11px;

  .rect {
    stroke: #999;
    fill: #024;
    cursor: pointer;
    &.selected {
      fill: lighten(#024, 30%);
      stroke: #ccc;
    }
    &:hover {
      fill: lighten(#024, 20%);
      stroke: #fff;
    }
    &.planet {
      fill: #420;
      stroke: goldenrod;
      &:hover {
        fill: lighten(#420, 20%);
      }
    }
    &.transit {
      fill: #500;
      stroke: #b00;
      &:hover {
        fill: lighten(#500, 20%);
      }
    }
  }
  .rect-type-0 {
    fill: #f6f2ed;
  }
  .rect-empty {
    stroke: #999;
    fill: #024;
  }
  ::ng-deep .angle {
    fill: #f6f2ed;
    text {
      font-size: 7px !important;
      text-anchor: middle;
    }
  }

}
