:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  button.toolbar-button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 30px;
    min-width: 40px;
    @media (max-width: 430px) {
      min-width: 30px;
    }
    border: 1px solid #eee;
    background-color: #eee;
    padding-top: 2px;
    //border-radius: 3px;
    //box-shadow: 1px 1px 1px #0003;
    cursor: pointer;
    color: #333;
    &:disabled,
    &:disabled:hover{
      color: #777;
      border: 1px solid #aaa;
      background-color: #ccc;
      box-shadow: none;
      cursor: default;
    }
    &:hover {
      color: #111;
      background-color: #fff;
    }
    &:not(:last-child) {
      margin-right: 1px;
    }
    &.icon-on {
      background-color: gold;
    }
  }
  div.toolbar-separator {
    width: 8px;
  }
}
.toolbar-menu {
  border: 1px solid #777;
  background-color: #eee;
  box-shadow: 2px 2px 2px #0003;
  button.toolbar-menu-button {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    //display: block;
    border: none;
    background-color: #eee;
    padding: 4px 8px 4px 2px;
    min-width: 120px;

    max-width: 200px;
    //width: 120px;
    cursor: pointer;
    color: #333;
    text-align: left;
    &:disabled,
    &:disabled:hover {
      color: #777;
      border: 1px solid #aaa;
      background-color: #ccc;
      box-shadow: none;
      cursor: default;
    }
    &:hover {
      color: #eee;
      background-color: #336699;
    }
  }
  &.single {
    button.toolbar-menu-button {
      width: 100%;
      display: block;
    }
  }
  &.double,
  &.triple {
    width: calc(120px * 2 + 2px);
    button.toolbar-menu-button {
      display: inline-block;
    }
  }
  &.triple {
    width: calc(120px * 3 + 2px);
  }
  div.toolbar-menu-separator {
    height: 1px;
    background-color: #777;
  }
}
.icon-on {
  background-color: goldenrod;
}

