@use '../../../styles/mixins';
:host {
  .toolbar-container {
    width: 100%;
    height: 31px;
    @media print {
      height: 0;
    }
    display: flex;
    flex-direction: row;

    align-content: center;
    justify-items: center;

    //background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAQAAAClM0ndAAAAhklEQVR4AdXO0QrCMBBE0bttkk38/w8WRERpdyjzVOc+HxhIHqJGMQcFFkpYRQotLLSw0IJ5aBdovruMYDA/kT8plF9ZKLFQcgF18hDj1SbQOMlCA4kao0iiXmah7qBWPdxpohsgVZyj7e5I9KcID+EhiDI5gxBYKLBQYKHAQoGFAoEks/YEGHYKB7hFxf0AAAAASUVORK5CYII=') repeat-x scroll left top #336699;
    background: #333;
    //color: #f1e9ce;
    //font-size: 12px;
    padding: 0;

    .toolbar-left {
      flex: 1 1 auto;
      justify-content: flex-start;
      display: inline-flex;
      .toolbar-center {
        flex: 1;
        margin: 0 1px 1px 1px;
        background-color: #eee;
      }
    }

    .toolbar-right {
      flex: 0 40px;
      justify-content: flex-end;
    }
  }
}
