:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  button.toolbar-button {
    border: 1px solid #777;
    background-color: #eee;
    border-radius: 3px;
    padding: 3px 6px;
    box-shadow: 1px 1px 1px #0003;
    cursor: pointer;
    color: #333;
    &:disabled,
    &:disabled:hover{
      color: #777;
      border: 1px solid #aaa;
      background-color: #ccc;
      box-shadow: none;
      cursor: default;
    }
    &:hover {
      color: #111;
      background-color: #fff;
    }
    &:not(:last-child) {
      margin-right: 2px;
    }
  }

}
